@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@400;700;900&display=swap');

/* Sitewide Variables*/
:root{
--font-family: "Cabin", sans-serif;
--heading-family: "Roboto Condensed", sans-serif;
--normal-font: 400;
--bold-font: 700;
--bolder-font: 900;
--bg-color: #fdfdfd;
--element-color: #133d3e;
--accent-color: #39abad;
--secondary-accent-color: rgb(4, 31, 49);
--primary-shadow: #252525;
--secondary-shadow: #545555;
--tertiary-shadow: #cbcccb;
--font-color: #2b2b2b;
--alt-font-color: #f5f5f5;
--bottom-margin: 0.5rem;
--bottom-margin-2: 1rem;
--line-height: 1.7rem;
--transition: 0.3s;
}

html{
    scroll-behavior: smooth;
}
/* CSS Resets*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--font-family);
    color: var(--font-color);
    background-color: var(--bg-color);
    height: 100%
}
#wrapper{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    width: 100%;
    margin: 0 auto -142;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--element-color);
}
a:hover{
    color: var(--accent-color);
}
a :visited{
    color: purple;
}
.responsive{
    width: 100%;
    max-width: 300px;
    height: auto;
}
/*General Styles - Lists, Buttons, Responsive Images, Features, Grid, */
h1{
    font-family: var(--heading-family);
}
h3{
    font-family: var(--heading-family);
}
ul{
    padding-left: 0;
    margin: 0;
}
.button{
    padding: 10px;
    background-color:var(--secondary-accent-color);
    border-radius: 5px;
    border: none;
    box-shadow: var(--primary-shadow);
    font-size: 16px;
    font-weight: 700 ;
    color: var(--alt-font-color);
    display: inline-flex;
}
a.button{
    color: var(--alt-font-color);

}
.button:active{
    transform: scale(0.90);
}
.feature{
    background-color: var(--accent-color);
    background: linear-gradient(180deg, var(--font-color) 0%, var(--element-color) 35%, var(--accent-color) 100%);
    padding: 4rem;
    color: var(--alt-font-color);
    margin-top: 1rem;;
}
.feature h1{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2rem;
}
.feature_button{
    padding: 10px;
    background-color: var(--element-color);
    border-radius: 5px;
    border: none;
    box-shadow: 2px 5px 5px var(--primary-shadow);
    font-size: 16px;
    font-weight: 700 ;
    color: var(--alt-font-color);
 

}
.feature h3{
    font-family: var(--heading-family) ;
    font-size: 1.5rem;
}
.feature a{
    color: var(--bg-color);
}
.feature a:hover{
    color: var(--tertiary-shadow);
}
.column{
    float: left;
    width: 33%;
    padding: 2rem;
}
div.column{
    text-align: center;
    align-items: center;
}
div.column p{
    margin-bottom: 2rem;
}
.row:after{
    content: " ";
    display: table;
    clear: both;
}
table, th, td{
    border: 1px solid gray;
}
.centered{
    align-items: center;
    text-align: center;
    margin: auto;
    
}
.renotext{
    margin-top: 1.5rem;
    margin-bottom:1.5rem;
}
.image_off, #hover:focus .image_on{
    display:none;
}
.image_on, #hover:focus .image_off{
    display:block;
}
img.hero__image.responsive{
    margin: auto;
}
.hobbyhero img{
    margin: auto;
}

#contact{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
/*Hero content*/
.hire_me{
display:inline-flex;
margin: 5px;
}
.hero{
    margin: auto;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    display: flex;
    max-width: 68.75rem;
    padding: 1.5rem;
}
.hero__img{
    width: 37.5rem;
    margin: 1rem;
    padding: 5px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    
}
.bio{
    padding: 1rem;
    margin: auto;
}
.content{
    margin: 2rem;
    padding: 2rem;
}
.about h1{
    margin-bottom: 1.5rem;;
}
#aboutus{
    margin: auto;
    margin-top: 2rem;
    
}
#social_icons{
    text-align: center;
}
#social_icons object{
    margin: 1rem;
    display: inline-block;
}
#social_icons object:hover{
    cursor: pointer;
}
.social{
    transform: scale(0.90);
}
/*Photo Gallery*/
.container{
    max-width: 760px;
    margin: auto;
    border: var(--bg-color) solid 3px;
}
.main-img img,
.imgs img{
    width: 100%;
}
.imgs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
.fade-in{
    opacity: 0;
    animation: fadeIn 0.5s ease-in 1 forwards;
}

/*Form styling*/
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid gray; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
  }
  #contact_form{
    margin-bottom: 3rem;
}
/*Media queries*/

/* For large screens greater than 1201px */
@media screen and (min-width: 1201px){

    .logo{
        display: flex;
        margin: auto;
        float: none;
    }
    ul.nav__list{
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        float: none;
    }
}
/* On screens that are 1200px or less change nav color*/
@media screen and (max-width: 1200px){
    .logo{
        display: flex;
        margin: auto;
        float: none;
    }
    ul.nav__list{
        margin: auto;
        max-width: 100%;
        float: none;
        background-color: lightseagreen;
    }
}
/* On screens that are 768px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 720px) {
    div.logo{
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }
    ul.nav__list {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
    }
}
/* On screens that are 360px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 360px) {
    .logo{
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }
    ul.nav__list {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    
} 
